* {
  background-color: #121212;
  color: #cecece;
}
a {
  color: #cecece;
}
a:visited {
  color: #cecece;
}
.hidden {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
}
tw-story {
  display:flex;
  height: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

